body {
    padding-top: 50px;
    text-align: center;
}


.card {
    display: inline-block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.volumeSlider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}
